*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 47px 0 0px 42px;
}

.link-header{
    width: 83px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
    text-align: center;
}

.button-header{
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
main{
    display: inline-block;
    margin-bottom: 250px;
}

section{
    display: inline-block;
}

.logo-image{
    display: inline-block;
    margin-left: 121px;
    margin-top: 177px;
    margin-right: 84.82px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 582px;
    margin-bottom: 47px;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    letter-spacing: 0.5px;
    width: 493px;
}

.button-img{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    margin-top: 55px;
    cursor: pointer;
    background: transparent;
    border: none;
}

@media screen and (max-width:850px) {

    a{
        display: none;
    }

    *{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    header{
        margin: 0;
    }

    .button-header{
        width: 91px;
        height: 31px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        margin-left: 284px;
        margin-top: 17px;
        margin-right: 15px;   
    }

    main{
        flex-direction: column-reverse;
        display: flex;
    }

    .logo-image{
        width: 312px;
        height: 288px;
        margin-left: 39px;
        margin-right: 39px;
        margin-top: 59px;
    }

    h1{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.596154px;
        width: 278px;
        height: 60px;
        margin-left: 56px;
        margin-right: 56px;
        margin-top: 76px;
    }

    p{
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        width: 304px;
        margin-left: 43px;
    }

    .button-img{
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 26px;
        height: 27px;
        display: block;
    }




} 
